@media (min-width: 760px) {
    .login-box.recovery-success {
        width: 560px;
    }
}
@media (max-width: 760px) {
    /* Force table to not be like tables anymore */
    table.table-responsive,
    table.table-responsive > thead,
    table.table-responsive > tbody,
    table.table-responsive > thead > tr > th,
    table.table-responsive > tbody > tr > td,
    table.table-responsive tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    table.table-responsive > thead > tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.table-responsive > tbody > tr { border: 1px solid #ccc; }

    table.table-responsive > tbody > tr > td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        font-weight: normal !important;
        font-size: 1em !important;
    }

    table.table-responsive td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        font-size: 1em !important;
        line-height: 30px;
    }
}

table.table-field-options .fa-reorder { cursor: move; }
table.table-field-options .fa-trash-o { color: red; }
table.table-categories .fa-reorder { cursor: move; }
table.table-categories .fa-trash-o { color: red; }

/**
 * Multi-select dropdowns
 */
.multi-select {
    position: relative;
}
.multi-select .multi-choices {
    background: white;
    border: 1px #dadada solid;
    padding: 5px;
    position: absolute;
    right: 0;
    display: none;
    z-index: 1000;
    min-width: 130px;
}
.multi-select .multi-choices label {
    display: block;
    padding-left: 18px;
    max-width: none;
    white-space: nowrap;
    cursor: pointer;
    color: black;
    text-align: left;
}
.multi-select .multi-choices label input {
    float: left;
    margin-left: -18px;
    cursor: pointer;
}
.multi-select .multi-choices .custom-range {
    margin: 0 -6px -6px -6px;
    width: auto;
    background-color: #f3f3f3;
    padding: 5px;
}
.multi-select .multi-choices .custom-range input {
    font-size: 12px;
    letter-spacing: -0.5px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
}
.multi-select .multi-choices .custom-range .row > div:first-child {
    padding-right: 2px;
}
.multi-select .multi-choices .custom-range .row > div:last-child {
    padding-left: 2px;
}

#passwordGenerateModal .well .col-md-6 > label {
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
}

/* admin lte overrides */
div.well.well-inline {
    display: inline-block;
}

.iradio_square-blue,
.icheckbox_square-blue {
    background-color: white;
}

.box .box-header .btn.btn-sm {
    margin: -6px 0 -6px 6px;
}

.box .box-header .multi-select {
    margin: -6px 0 -6px 6px;
}

.box .box-header .multi-select .btn.btn-sm {
    margin: 0;
}

div.icheck > label {
    margin: 5px 0;
}

.form-horizontal .radio.icheck,
.form-horizontal .checkbox.icheck,
.form-horizontal .radio-inline.icheck,
.form-horizontal .checkbox-inline.icheck {
    padding-top: 0;
}

#dashboard-splash {
    height: calc(100vh - 101px);
    overflow: hidden;
    background-image: url(/img/microsoft-datacenter-100058814-orig.jpg);
    background-size: cover;
    background-position: center center;
}

span.select2 {
    min-width: 200px;
}

.modal .modal-body.loader {
    text-align: center;
    font-size: 24px;
    padding: 100px 0;
}
    .modal .modal-body.loader.error {
        color: red;
    }

#shareModal h4 {
    margin: 0;
    font-weight: 600;
    line-height: 30px;
}
#shareModal table td {
    height: 40px;
    vertical-align: middle;
    font-size: 17px;
}
    #shareModal table td:first-child {
        width: 50px;
        text-align: center;
    }
    #shareModal table td.not-shared {
        text-align: center !important;
        color: grey;
        font-style: italic;
    }
    #shareModal table tbody td:last-child {
        text-align: right;
    }
        #shareModal table tbody td:last-child i.fa-remove {
            padding: 10px;
            cursor: pointer;
        }
    #shareModal table thead td:last-child,
    #shareModal table tfoot td:last-child {
        text-align: left;
    }
    #shareModal table td .form-group {
        margin: 0;
    }
        #shareModal table td .form-group label {
            font-weight: 400;
        }
